.form-header{
    padding-top: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Comfortaa', cursive;
}


#btn_signup:hover{
    background-color: yellow;
    
}

.not_member{
    color: black;
}

.MDBCardBody{
    padding: 10em;
}

.not_member:hover{
    background-color: #0099cc;
}